/* hover */

/* play button on cards */

.fa-play-circle{
    position: absolute;
    font-size: 70px;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    color: white;
} 
 .card-box:hover .fa-play-circle{
    opacity: 1;
}

.song-img{
    filter: opacity(1);
}
.song-img:hover{
    filter: opacity(0.5);
}


/* header btn */

a.btn-header:hover{
    transform: scale(1.1);
}


/* hover effects sidebar */

.sidbar-top li a:hover{
    color: white;
}

.sidebar-top  li > a:hover{
    color: white;
}

.sidebar-top  ul > li > span:hover{
    color: white;
}
.sidebar-bot  ul > li > span:hover{
    color: white;
}


.sidebar-bot  ul > li> a:hover{
    color: white;
}


main > nav  ul > li:hover{
    color: white;
    border-bottom: 2px green solid;
}


/* footer */

/* left player */
.player-preview > .footer-img-description > div:hover{
    color: white;
}


.footer-img-favourite i:hover{
    color: white;
}



/* central player */
.console-play > .bar .progress-bar:hover{
    background-color: rgb(10, 228, 10);
    filter: brightness(1);
}
.console-play > .bar .progress-bar:hover i.fa-circle{
    opacity: 1;
    color: rgb(10, 228, 10);
    position: absolute;
    right: 0px;
    top: -1px;
}
.player-volume > .bar .progress-bar:hover{
    background-color: rgb(10, 228, 10);
    filter: brightness(1);
}
.player-volume > .bar .progress-bar:hover i.fa-circle{
    opacity: 1;
    color: rgb(10, 228, 10);
    position: absolute;
    right: 0px;
    top: -1px;
}

.console-play > div i:hover{
    filter: brightness(1);
    transform: scale(1.3);
}

.console-play > div.circle:hover{
    filter: brightness(1);
    transform: scale(1.1);
}


/* left player */

.player-volume > div i:hover{
    filter: brightness(1);
    transform: scale(1.3);
}